[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "hugo-alageek-theme"]
	path = hugo-alageek-theme
	url = https://github.com/gkmngrgn/hugo-alageek-theme.git
