<link text="timhradil@gmail.com" url="mailto:timhradil@gmail.com" /><link text="timhradil@gmail.com" url="mailto:timhradil@gmail.com" /><
?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="Tim Hradil"
taglineText="Student + Programmer"
mainText="SITE COMING SOON..."

useOwnLogo="false"
logoFilePath="logo.png"

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0x936758"
linkRollOverBlurAmount="15"

backgroundColor="0xffffff"
backgroundGradientColor1="0xff4400"
backgroundGradientColor2="0x000000"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="100"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="0"

introBlurAmount="40"
siteRotation="0"

>

<link text="timhradil@gmail.com" url="mailto:timhradil@gmail.com" />
<link text="View my Resume" url="https://drive.google.com/open?id=1AtLvvvMCQqTm5UuvrM4XyqqDWAlvwYuWZIJYxL5Jq9c" />
<link text="Visit my linked in" url="https://www.linkedin.com/in/timothy-hradil-840246191/" />
	
</settings>
